.input-section{
    background: linear-gradient(rgb(44, 132, 96), rgb(10, 227, 151));
    border-radius: 0.3rem;
    color: white;
  }
  
  .input-section input{
    border-radius: 0.3rem;
    border: 1px solid white;
    background-color: inherit;
    color: white;
    padding: 0.5rem;
  }
  
  .input-section label{
    font-size: 0.8rem;
    font-weight: 500;
  }