* {
  font-family: 'Poppins';
}

body {
  display: flex;
  justify-content: center;
  background: radial-gradient(rgb(57, 57, 57), rgb(11, 11, 11));
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}